connector.label=Skeleton (sw)
connector.description=Skeleton data connector (sw)
configWizard.heading=Skeleton (sw)
account.label=Credentials (sw)
details.label=Details (sw)
report.text=Report (sw)
report.tooltipText=The Skeleton report to run. (sw)
report.option.accounts.label=Accounts (sw)
report.option.deals.label=Deals (sw)
report.option.contacts.label=Contacts (sw)
report.option.sources.label=Sources (sw)
report.option.leads.label=Leads (sw)
scheduling.label=Scheduling (sw)
schedule.text=Schedule (sw)
schedule.tooltipText=The schedule for updating this Data Source. (sw)
updatemode.text=Update Method (sw)
updatemode.tooltip=<b>Replace</b><br>The current version of the data will be replaced with a new version of the data. All previous versions will be preserved.<br><br><b>Append</b><br>The current version of the data will be appended to previous versions of the data to make an increasingly larger data set. (sw)
updatemode.option.replace.label=Replace (sw)
updatemode.option.append.label=Append (sw)