connector.label=Skeleton
connector.description=Skeleton data connector
configWizard.heading=Skeleton
account.label=Credentials
details.label=Details
report.text=Report
report.tooltipText=The Skeleton report to run.
report.option.accounts.label=Accounts
report.option.deals.label=Deals
report.option.contacts.label=Contacts
report.option.sources.label=Sources
report.option.leads.label=Leads
scheduling.label=Scheduling
schedule.text=Schedule
schedule.tooltipText=The schedule for updating this Data Source.
updatemode.text=Update Method
updatemode.tooltip=<b>Replace</b><br>The current version of the data will be replaced with a new version of the data. All previous versions will be preserved.<br><br><b>Append</b><br>The current version of the data will be appended to previous versions of the data to make an increasingly larger data set.
updatemode.option.replace.label=Replace
updatemode.option.append.label=Append