apply plugin: 'domo-connector'

group='${group}'

buildscript {
    repositories {
        maven { url nexusSnapshotUrl }
        maven { url nexusReleaseUrl }
    }
    dependencies {
        classpath 'com.domo.gradle:connector-gradle-plugin:0.1-SNAPSHOT'
    }
}

