nexusSnapshotUrl=http\\://svn.domo.com\\:8081/nexus/content/repositories/snapshots/
nexusReleaseUrl=http\\://svn.domo.com\\:8081/nexus/content/repositories/releases/
nexusPublicUrl=http\\://svn.domo.com\\:8081/nexus/content/groups/public/
